@using AJG.DynamicPI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="col-md-8">
            <img src="~/Content/login_logo.png" />
        </div>

        <div class="col-md-8">
          
     
            <div class="loginbg">
                <h2 style="text-align:center">@ViewBag.Title</h2>
                <section id="loginForm">

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.Email) })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.Password) })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Log in" class="col-md-12 btn btn-default" />
                            </div>
                        </div>

                    }
                </section>
            </div>
        </div>


    </div>
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}